body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(198, 23, 214), rgb(17, 54, 71));
    color: white;
    text-align: center;
}

.table-bg {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 0 0;
}

.box-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: .1%;
}